<nz-card nzHoverable [nzCover]="coverTemplate" [nzActions]="[like, dislike]">
    <nz-card-meta [nzTitle]="titleTemplate" [nzDescription]="shop.description"></nz-card-meta>
</nz-card>

<ng-template #titleTemplate>
    <div class="ant-card-meta-title" > {{ shop.name }} 
        <span class="float-right h6" > {{ shop.distance }}m </span>
    </div>
</ng-template>

<ng-template #coverTemplate>
    <img [alt]="shop.image" [src]="images_link+shop.image" />
</ng-template>

<ng-template #like>
    <i nz-icon nzType="like" nzTheme="outline"></i>
</ng-template>

<ng-template #dislike>
    <i nz-icon nzType="dislike" nzTheme="outline"></i>
</ng-template>
