@import '~bootstrap/dist/css/bootstrap.css';

.nz-breadcrumb{
    margin:16px 0;
    padding-top: 16px;
}

.page-content{
    background:#fff; 
    padding: 24px; 
    min-height: 380px;
}

.nz-content{
    padding:0 50px;
    margin-top:64px;
}