<!-- <nz-content class="nz-content">
    <nz-breadcrumb class="nz-breadcrumb">
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="page-content"><h1>Welcome Home</h1></div>
  </nz-content> -->

  <main>
    <div class="main-part">
        <!-- Start Slider Part -->
        
        <!-- End Slider Part -->
        <!-- Start Welcome Part -->
        
        <!-- End Welcome Part -->
        <section class="special-menu banner-bg home-icon invert invert-black wow fadeInDown animated" data-background="images/banner1.jpg" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown; background-image: url(&quot;images/banner1.jpg&quot;);">
            
            <div class="container">
                <div class="build-title">
                    <h2>Our Special Menu</h2>
                    <h6>The role of a good cook ware in the preparation of a sumptuous meal cannot be over emphasized then one consider white bread</h6>
                </div>
                <div class="menu-wrapper menu-return">
                    <div class="portfolioFilter">
                        <div class="portfolioFilter-inner">
                            <a href="javascript:;" data-filter="*" class=""><span><img src="assets/images/icon40.png" alt=""></span>All</a>
                            <a href="javascript:;" data-filter=".breakfast" class=""><span><img src="assets/images/icon37.png" alt=""></span>BREAKFAST</a>
                            <a href="javascript:;" data-filter=".dessert" class=""><span><img src="assets/images/icon38.png" alt=""></span>DESSERT</a>
                            <a href="javascript:;" data-filter=".dinner" class=""><span><img src="assets/images/icon39.png" alt=""></span>DINNER</a>
                            <a href="javascript:;" data-filter=".freshfood" class=""><span><img src="assets/images/icon40.png" alt=""></span>FRESHFOOD</a>
                            <a href="javascript:;" data-filter=".lunch" class="current"><span><img src="assets/images/icon41.png" alt=""></span>LUNCH</a>
                        </div>
                    </div>
                    <div class="portfolioContainer row" style="position: relative; height: 151px;">
                        <div class="col-md-6 col-sm-6 col-xs-12 isotope-item breakfast" style="position: absolute; left: 0px; top: 0px; display: none;">
                            <div class="menu-list">
                                <span class="menu-list-product">
                                    <img src="assets/images/img3.png" alt="">
                                </span>
                                <h5>LASAL CHEESE <span>$ 15.00</span></h5>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 isotope-item lunch" style="position: absolute; left: 0px; top: 0px;">
                            <div class="menu-list">
                                <span class="menu-list-product">
                                    <img src="assets/images/img4.png" alt="">
                                </span>
                                <h5>JUMBO CARB SHRIMP <span>$ 25.00</span></h5>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 isotope-item dessert" style="position: absolute; left: 0px; top: 0px; display: none;">
                            <div class="menu-list">
                                <span class="menu-list-product">
                                    <img src="assets/images/img5.png" alt="">
                                </span>
                                <h5>SURMAI CHILLI <span>$ 15.00</span></h5>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 isotope-item dinner" style="position: absolute; left: 0px; top: 0px; display: none;">
                            <div class="menu-list">
                                <span class="menu-list-product">
                                    <img src="assets/images/img6.png" alt="">
                                </span>
                                <h5>CAPO STEAK <span>$ 45.00</span></h5>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 isotope-item freshfood" style="position: absolute; left: 0px; top: 0px; display: none;">
                            <div class="menu-list">
                                <span class="menu-list-product">
                                    <img src="assets/images/img7.png" alt="">
                                </span>
                                <h5>ORGANIC FRUIT SALAD <span>$ 15.00</span></h5>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 isotope-item freshfood" style="position: absolute; left: 585px; top: 0px; display: none;">
                            <div class="menu-list">
                                <span class="menu-list-product">
                                    <img src="assets/images/img8.png" alt="">
                                </span>
                                <h5>PRAWNS BUTTER GARLIC <span>$ 15.00</span></h5>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                            </div>
                        </div>
                    </div>
                    <div class="btn-outer">
                        <a href="#" class="btn-main">Explore Full Menu</a>
                    </div>
                </div>
            </div>
            <div class="float-main">
                <div class="icon-top-left">
                    <img src="assets/images/icon7.png" alt="">
                </div>
                <div class="icon-bottom-left">
                    <img src="assets/images/icon8.png" alt="">
                </div>
                <div class="icon-top-right">
                    <img src="assets/images/icon9.png" alt="">
                </div>
                <div class="icon-bottom-right">
                    <img src="assets/images/icon10.png" alt="">
                </div>
            </div>
        </section><!-- Start Dishes Part -->
        <section class="dishes dishes-expand banner-bg home-icon wow fadeInDown animated" data-background="images/banner9.jpg" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown; background-image: url(&quot;images/banner9.jpg&quot;);">
            
            <div class="container">
                <div class="build-title">
                    <h2>Today Hot Dishes</h2>
                    <h6>The role of a good cook ware in the preparation of a sumptuous meal cannot be over</h6>
                </div>
                <div class="slider multiple-items slick-initialized slick-slider"><button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>
                    <div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 4560px; transform: translate3d(-1140px, 0px, 0px);" role="listbox"><div class="product-blog slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1" style="width: 380px;">
                        <img src="assets/images/product1.png" alt="">
                        <h3>Quattro Formaggi</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1" style="width: 380px;">
                        <img src="assets/images/product2.png" alt="">
                        <h3>Vegetarian Pasta</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 380px;">
                        <img src="assets/images/product3.png" alt="">
                        <h3>Gluten-Free Pasta</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 380px;">
                        <img src="assets/images/product1.png" alt="">
                        <h3>Quattro Formaggi</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 380px;">
                        <img src="assets/images/product2.png" alt="">
                        <h3>Vegetarian Pasta</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 380px;">
                        <img src="assets/images/product3.png" alt="">
                        <h3>Gluten-Free Pasta</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide03" style="width: 380px;">
                        <img src="assets/images/product1.png" alt="">
                        <h3>Quattro Formaggi</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide04" style="width: 380px;">
                        <img src="assets/images/product2.png" alt="">
                        <h3>Vegetarian Pasta</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide05" style="width: 380px;">
                        <img src="assets/images/product3.png" alt="">
                        <h3>Gluten-Free Pasta</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 380px;">
                        <img src="assets/images/product1.png" alt="">
                        <h3>Quattro Formaggi</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" tabindex="-1" style="width: 380px;">
                        <img src="assets/images/product2.png" alt="">
                        <h3>Vegetarian Pasta</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" tabindex="-1" style="width: 380px;">
                        <img src="assets/images/product3.png" alt="">
                        <h3>Gluten-Free Pasta</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div></div></div>
                    
                    
                    
                    
                    
                <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button></div>
            </div>
        </section>
        <!-- End Dishes Part -->
        <!-- Start Menu Part -->
        
        <!-- End Menu Part -->
        <!-- Start Chef -->
        
        <!-- End Chef -->
        <!-- Start Feature Blog -->
        
        <!-- End Feature Blog -->
        <!-- Start Client Say -->
        
        <!-- End Client Say -->
        <!-- Start Feature list -->
        
        <!-- End Feature list -->
        <!-- Start Instagram -->
        
        <!-- End Instagram -->
    </div>
</main>